.glass_production_order__tracing_tree [data-field="product_name"] {
font-size: 10px;
}
.glass_production_order__tracing_tree [data-field="display_name_partner"] {
font-size: 10px;
}
.glass_production_order__tracing_tree [data-field="estado"] {
font-size: 10px;
}

/*.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}
}*/

/*div.table_fixed_header {
	overflow-y:auto;height:100%;
}
div.table_fixed_header.table.o_list_view.table th{
	top:0;
	position:sticky;
	z-index:5;
	background-color:#dddddd;
}


	top:0;position:sticky;z-index:5;background-color:#dddddd;*/
/* .glass_production_order__tracing_stock_tree [data-field="product_name"] {
font-size: 10px;
}
.glass_production_order__tracing_stock_tree [data-field="display_name_partner"] {
font-size: 10px;
} */