.table_container {
    /* width: 80%; */
    /* height: 100%; */
    background-color: #EFEFF8;
    /* display: inline-block; */
    /* margin-left: 5%; */
    padding: 10px;
}

/* .container {
  margin-top: 10px;
} */

.main_table_container{
  width: 100%;
}

.cont_right{ /* alinear a la derecha */
  text-align: right;
  }

.margin_bott{
  margin-bottom: 10px;
}

@media(max-width:1200px){
    .table_container{
      display:none;
    }
  }